c_A9/c_A9/valgrind
a.out
UserInterfaceState.xcuserstate
*.xcbkptlist
c_B3_parser/c_B3_parser.xcodeproj
zadacha_5-3A/zadacha_5-3A.xcodeproj/project.xcworkspace/xcshareddata
zadacha_5-3A/zadacha_5-3A.xcodeproj/xcuserdata/vladimir.xcuserdatad/xcschemes
zadacha_5-3A/zadacha_5-3A.xcodeproj
