c_A9/c_A9/valgrind
a.out
UserInterfaceState.xcuserstate
*.xcbkptlist
c_B3_parser/c_B3_parser.xcodeproj
zadacha_5-3A/zadacha_5-3A.xcodeproj/project.xcworkspace/xcshareddata
zadacha_5-3A/zadacha_5-3A.xcodeproj/xcuserdata/vladimir.xcuserdatad/xcschemes
zadacha_5-3A/zadacha_5-3A.xcodeproj
zadacha_6-3/zadacha_6-3.xcodeproj/project.xcworkspace/xcshareddata
zadacha_6-3/zadacha_6-3.xcodeproj/xcuserdata/vladimir.xcuserdatad/xcschemes
zadacha_6-3/zadacha_6-3.xcodeproj
main
test6.txt
sort_1.xccheckout
sort_1.xcscheme
xcschememanagement.plist
main2
main2.cpp
sort_2_3.xccheckout
*.xcscheme
*.xccheckout
*.pbxproj
*.xcworkspacedata
*.
tests
main-4
Info.plist
untitled
untitled.cpp
